<section>
<%=link_to "Add transaction", new_category_payment_path(category_id: params[:category_id]) %>
<p>
  total spent: $<%= @category.total %>
</p>
<ul>
<%= render partial: 'renders/transaction', collection: @transactions %>
</ul>
</section>
